---
import Login from "../components/Login";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

/* 校验用户是否已经通过身份验证 */
const auth = getAuth(app);
if (Astro.cookies.has("session")) {
    const sessionCookie = Astro.cookies.get("session").value;
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);
    if (decodedCookie) {
        return Astro.redirect("/dashboard");
    }
}
---

<Layout title="Sign in">
    <h1>Sign in</h1>
    <p>New here? <a href="/register">Create an account</a></p>
    <Login client:load />
</Layout>